<!--==================================
		Login modal window
======================================-->

<div id="login_mw" class="modal_window">

	<button class="close arcticmodal-close"></button>

	<header class="on_the_sides">

		<div class="left_side">

			<h2>Log In</h2>

		</div>

	</header><!--/ .on_the_sides-->

	<form class="type_2" action="login" method="post" id="loginForm">

		<ul>

			<li>
				<label for="email">Email address</label>
				<input type="email" name="user_email" id="email">
			</li>

			<li>
				<label for="pwd">Password</label>
				<input type="password" name="user_password" id="pwd">
			</li>

			<li>
				<input type="checkbox" name="remember" id="remember">
				<label for="remember">Remember me</label>
			</li>

			<li class="v_centered">
				<button class="button_blue middle_btn">Login</button>
			</li>

		</ul>

	</form>

</div>

<!--==================================
		End login modal window
======================================-->