<!--==================================
		Register modal window
======================================-->

<div id="register_mw" class="modal_window">

	<button class="close arcticmodal-close"></button>

	<header class="on_the_sides">

		<div class="left_side">

			<h2>Register</h2>

		</div>

	</header><!--/ .on_the_sides-->

	<form class="type_2" action="" method="post" id="registerForm">

		<ul>

            <li>
                <label for="fName">First Name*</label>
                <input type="text" name="fName" id="fName">
            </li>

            <li>
                <label for="lName">Last Name</label>
                <input type="text" name="lName" id="lName">
            </li>

			<li>
				<label for="email">Email Address*</label>
				<input type="email" name="email" id="email">
			</li>

			<li>
				<label for="pwd">Password*</label>
				<input type="password" name="pwd" id="pwd">
			</li>

            <li>
                <label for="re_pwd">Retype Password*</label>
                <input type="password" name="re_pwd" id="re_pwd">
            </li>

			<li class="v_centered">
				<button class="button_blue middle_btn">Register</button>
			</li>

		</ul>

	</form>

</div>

<!--==================================
		End register modal window
======================================-->