<!--==================================
		Testimonials modal window
======================================-->

<div id="test_mw" class="modal_window">

	<button class="close arcticmodal-close"></button>

	<header class="on_the_sides">

		<div class="left_side">

			<h2>Testimonials</h2>

		</div>

	</header><!--/ .on_the_sides-->

	<div>
		<!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->

		<div class="test_info">

			<blockquote>

				<div class="author_info"><b>John, Miami</b></div>

				<p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus elefiend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.</p>

			</blockquote>

		</div>

		<!-- - - - - - - - - - - - - - End testimonial - - - - - - - - - - - - - - - - -->

		<!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->

		<div class="test_info">

			<blockquote>

				<div class="author_info"><b>John, Miami</b></div>

				<p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus elefiend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.</p>

			</blockquote>

		</div>

		<!-- - - - - - - - - - - - - - End testimonial - - - - - - - - - - - - - - - - -->

		<!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->

		<div class="test_info">

			<blockquote>

				<div class="author_info"><b>John, Miami</b></div>

				<p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus elefiend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.</p>

			</blockquote>

		</div>

		<!-- - - - - - - - - - - - - - End testimonial - - - - - - - - - - - - - - - - -->

		<!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->

		<div class="test_info">

			<blockquote>

				<div class="author_info"><b>John, Miami</b></div>

				<p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus elefiend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.</p>

			</blockquote>

		</div>

		<!-- - - - - - - - - - - - - - End testimonial - - - - - - - - - - - - - - - - -->

		<!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->

		<div class="test_info">

			<blockquote>

				<div class="author_info"><b>John, Miami</b></div>

				<p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus elefiend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.</p>

			</blockquote>

		</div>

		<!-- - - - - - - - - - - - - - End testimonial - - - - - - - - - - - - - - - - -->

		<!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->

		<div class="test_info">

			<blockquote>

				<div class="author_info"><b>John, Miami</b></div>

				<p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus elefiend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.</p>

			</blockquote>

		</div>

		<!-- - - - - - - - - - - - - - End testimonial - - - - - - - - - - - - - - - - -->

	</div>
</div>

<!--==================================
		End testimonials modal window
======================================-->