<!--=======================================================
		Update account Information modal window
===========================================================-->

<div id="update_acc_mw" class="modal_window">

	<button class="close arcticmodal-close"></button>

	<header class="on_the_sides">

		<div class="left_side">

			<h2>Update Account Information</h2>

		</div>

	</header><!--/ .on_the_sides-->

	<form class="type_2" action="" method="post" id="updateAcc">

		<ul>

			<li>
				<label for="fName">New First Name</label>
				<input type="text" name="fName" id="fName">
			</li>

			<li>
				<label for="lName">New Last Name</label>
				<input type="text" name="fName" id="lName">
			</li>

			<li>
				<label for="email">New Email Address</label>
				<input type="email" name="email" id="email">
			</li>

			<li class="v_centered">
				<button class="button_blue middle_btn">Save changes</button>
			</li>

		</ul>

	</form>

</div>

<!--=======================================================
		End of update account Information modal window
===========================================================-->